<div id='main-content'>
    {{> profile-sidebar
        form-header="Like my blog?"
        form-description="Something I should write about? Let me know!"
    }}

    <div id='main'>
        <section>
            <h3>Where to go from here - Feb 10, 2020</h3>
            <p>
                I've written some code in a folder on my computer, so what, right? So has every other developer. Since I've got a decent codebase, I think it's time to put the content on hold, and focus on the maintenance and hosting. I need to get all my code on github and set up the repo with a readme, but that's no big deal. My next BIG step is hosting. I have found that RedHad OpenShift Online is a good personal Node JS hosting service, so that's where I'll start. In the meantime, I need to do some prep work before that can happen. The first list below are things that absolutely need to get done before this website can go live. The second list contains things that I want to look into, but aren't necessary.

                <ul>
                    <p>NEEDS</p>
                    <li>Add codebase to github</li>
                    <li>Restructure codebase for ease of maintainability</li>
                    <li>Add a database</li>
                    <li>Decide on a database to use</li>
                    <li>Figure out how to send emails from a form</li>
                    
                </ul>

                </br>

                <ul>
                    <p>MAYBES</p>
                    <li>Add scripts to package.json</li>
                    <li>Add config files</li>
                    <li>Move all text in p tags to flat files or database</li>
                </ul>
            </p>
        </section>
        
        <section>
            <h3>Plans After Hosting - Feb 10, 2020</h3>
            <p>
                After the app is hosted on RedHat servers, I'd like to see what else I can do to make my life easier as a website owner/maintainer. I've read that there are some continuous integration packages that are built in with OpenShift, if so, I'd like to set that up on the github repo so that when I push to the master branch, the website is updated. Maybe I'd set it up to ignore updates to certain files like the readme or other non-critical files.
            </p>
        </section>
    </div>
</div>
