<div id='main-content'>
    {{> profile-sidebar
        form-hidden='hidden'
    }}

    <div id='main'>
        <section>
            <h3>Entrepreneur?</h3>
            <p>
                You might be wondering, this guy is an entrepreneur? I'm not, currently anyways; but I'd like to be. As I mentioned on my home page, my dream is to start a variety of businesses to give back to the world and ultimately leave it a better place than when I started. I didn't follow the path of business because I had always had a bad mental relationship with money. I thought that money was bad, and we should do what we want, without thinking about money. This was pretty naive of me, and eventually led to me starting to think that we could live in a society without money. Fortunately, I let that idea go, but only partially. Maybe I'll get back to that some other time. The point here is, I hope to start an enterprise of businesses which make the world a better place. What does that mean? For example; a farm which regenerates the soil rather than destroys it, a recycling company that actually recycles recyclables - not just packages them up and ships them off to be burned in a third world country. You can see some of my business ideas below.
            </p>
        </section>

        <section>
            <h3>What do I want to do?</h3>
            <p>
                For now, I'll leave these here as a list. Maybe eventually they'll turn into some blog posts on another section of this website, or maybe they'll just end up as sections like you've already seen here.

                <ul>
                    <li>A Regenerative Farm</li>
                    <li>A True Recycling Company</li>
                    <li>A Video Game Development Company</li>
                </ul>
            </p>
        </section>
    </div>
</div>