<div id='main-content'>

  {{> profile-sidebar 
    form-header="Know any good deals?"
    form-description="Shoot me a message!"
  }}

  <div id='main'>
    <section>
      <h3>My Goals in Real Estate</h3>
      <p>
        I have discovered the great wealth building powers of real estate through various means, 
        and as a result, I have developed an obsession with wealth, and I am going to use real estate
        to get me there. My greatest sources of inspiration come from BiggerPockets and others
        on YouTube like Graham Steven and Meet Kevin. Its thhrough these great channels and 
        content creators that I have realized that I can emulate their processes and follow their 
        advice to become wealthy myself. My first goal in real estate is to amass $3M in real assets.
        I think that this is an attainable goal with some hard work and dedication. I decided on $3M 
        as my goal because it corresponds closely to my goal of financial independence. Three million
        dollars in assets can be used to generate a passive return on those assets, assuming a 7% yearly
        return, I'd receive $210,000 in pure passive cash flow. There are two main camps in real
        estate investing; net worth and cash flow. For me, I want to see the gains to my net worth as I
        explained earlier, and cash flow comes second.
      </p>
    </section>

    <section>
      <h3>What Am I Doing?</h3>
      <p>
        As of writing this, I own no real assets. I'm on the track to purchasing my first deal, and I'm
        looking every day for the newest houses to hit the market; knowing that it'll be coming and I need
        to be ready. Every house that comes on the market gets judged against a specific criteria for me 
        to determine whether it's a good deal and worth investing in. Currently my criteria are:
        <ul>
          <li>House listed below market value</li>
          <li>Estimated (or actual) rent is above 1% of market value</li>
          <li>Cash flow after financing and operations above $150</li>
          <li>Cash on cash return above 10%</li>
        </ul>
        I am looking at the market every day, and working on making offers for every house that meets my 
        criteria. My goal of attaining a specific net worth manifests in my strategy by making the best 
        deals the ones that I can get at a discount that will give me instant unrealized equity when I buy.
      </p>
    </section>
    
    <section>
      <h3>Future Plans/Goals</h3>
      <p>
        After I have a few houses under my belt, I plan to start using the BRRRR method to buy up houses 
        that need some work and fix them up with the help of contractors and handymen. I feel very strongly 
        for this method and I think it fits in my overall plan to buy houses below market value and hold them
        for their net worth boosts. Since I want to get into the investment business, I'll be needing to hire 
        out the functions that aren't aligned with that goal. This includes handymen, contractors, and property
        managers for the daily operations that result from owning real estate. Eventually, I'll be hiring out the 
        management of these operations to a personal assistant. I'm not sure at what point that will happen,
        but I know that to succeed as an investor, it takes dedicated time to focus on investments, and that time 
        becomes very valuable. So valuable that it is more cost effective to hire out the operations that would 
        normally take up my time.
      </p>
      <p>
        I plan on starting in my local area first to get some experience and understanding of how the business works. 
        Once I've got a few properties under my belt and I feel that it's the right time, I want to expand to investing
        outside of my area. This can be as far away as California, I think the patterns that are followed to invest locally
        with outside management can be replicated at scale from any location. A dream I have is to live out of a schoolie 
        and drive around the country, staying in up-coming areas for a few weeks and picking up deals before moving on 
        to the next area and doing it all over again. I think a year of living on the road like this satisfies my dream to 
        travel the country and see all the national parks, but also can increase my net worth significantly in the process.
      </p>
    </section>
  </div>
</div>