<div id='main-content'>

  {{> profile-sidebar 
    form-hidden='hidden'
  }}
  
  <div id='main'>
    <section>
      <h3>My Path</h3>
      <p>
        I trained at Arizona State University for three years to become a software engineer, which helped me understand the technical skills that led to building this website! I love software and technology, and I think that as a whole, humanity has greatly benefited from the introduction of these things. It's very easy to see the tech world as horrible and distracting to our culture, but it's not hard to see the good things that have come around if you look hard enough. We've got instant access to anyone we could want to meet anywhere in the world.
        The sharing of information in the form of blogs, videos, podcasts, websites, it's incredible the amount of information that is on the internet freely available for anyone to see. I feel that 
        software engineering is my way out of the rat race, because it's something that I enjoy doing, and will provide me with job opportunities which won't be as draining as in other fields where I would be miserable every day. Of course this is a precarious position, it is easy to become content with a job that you enjoy. I hope that I do truly enjoy my day job, but it will not stop me from spending
        my free time trying to grow my wealth so that I no longer need to work a day job. 
      </p>
    </section>

    <section>
      <h3>Projects</h3>
      <p>
        As I've mentioned previously, I do enjoy software engineering. I love reasoning about software architecture, I love writing code, I love tracing bugs and solving new problems. Because I genuniely enjoy working with software, I have accumulated some personal projects which I store on my public github repo; one of which is the website that you're reading this on! Check them out at <a href='https://www.github.com/Farmerjoe12' target='_blank'>Github.com</a>. I've built games from scratch using languages like Java and Javascript, worked with the arduino platform to create a PC monitoring engine, and much more.
      </p>
    </section>

    <section>
      <h3>Future</h3>
      <p>
        I hope that in the future I'll continue to use my skills in software engineering. I'm not sure exactly how that will play out, but I think there's a lot of things that could be done. I could help create a monitoring and control center for my greenhouse, create websites for my businesses or as a side hustle, or help start up the small video game development company that I've always wanted to do.
      </p>
    </section>
  </div>
</div>