<div id='contact-form'>
  <h3>{{ header }}</h3>
  <form>
    <fieldset>
      <div class='form-group'>
        <label>Name:&nbsp;
          <input type='text' required placeholder='Your Name Here' />
        </label>
      </div>

      <div class='form-group'>
        <label>Email:&nbsp;
          <input type='text' required placeholder='something@somedomain.com' />
        </label>
      </div>

      <div class='form-group'>
        <label>Comments:&nbsp;
          <textarea placeholder='Have anything else to say?'></textarea>
        </label>
      </div>

      <div class='form-group'>
        <input type='submit' value='Submit' />
      </div>
    </fieldset>
  </form>
</div>